* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
}

input,
button {
  outline: 0;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  list-style: none;
}

.menu li {
  margin-bottom: 15px;
}

.menu li a {
  text-decoration: none;
}

.menu li a img {
  margin-right: 15px;
  width: 20px;
}

#avatar {
  height: 20px;
  border-radius: 50%;
  border: none;
}
